<div class="container">
	<h1>Home</h1>
	Next Steps:
	<ol>
		<li>User Rights - lock down admin route for non-admin users
			<ul>
				<li>Lock down edit button on userDetail so that canEdit is isAdmin or currentUser.uid = uid</li>
			</ul>
		</li>
		<li>Link Accounts - <a href="https://firebase.google.com/docs/auth/web/account-linking" target="_blank">https://firebase.google.com/docs/auth/web/account-linking</a></li>
		<li>Password recover</li>
		<li>Email Verification</li>
	</ol>
	<pre>currentUser:
{{currentUser | json}}
</pre>
</div>

