<h2>Link Social Media Accounts</h2>

<!--<button class="btn btn-primary btn-sm" (click)="connectToPassword()" [disabled]="isConnected('password')">Connect to Email & Password</button>-->
<button class="btn btn-primary btn-sm" (click)="connectToGoogle()" [disabled]="isConnected('google')">Connect to Google</button>
<button class="btn btn-primary btn-sm" (click)="connectToFacebook()" [disabled]="isConnected('facebook')">Connect to Facebook</button>
<button class="btn btn-primary btn-sm" (click)="connectToTwitter()" [disabled]="isConnected('twitter')">Connect to Twitter</button>
<button class="btn btn-primary btn-sm" (click)="connectToGithub()" [disabled]="isConnected('github')">Connect to Github</button>

<!--<pre>{{currentUser | json }}</pre>-->
